{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load sass_tags %}

{% block title %}Your haldCLUTs{% endblock %}

{% block extra_head %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'main.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="app">

    <h1>Your haldCLUTs</h1><br>

    {% if key %}
        <p>Your ID: {{ key }}</p>
        <p>Keep this ID (or your link) if you want to find your haldCLUTs online again.</p>
    {% endif %}

    {% if cluts %}
        <div class="cluts-wrapper">
            <div class="clut-list">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                    Show CLUTs
                </button>

                <div class="collapse" id="collapseExample2">
                    {% for clut in cluts %}
                        <div class="clut-item">
                            <div class="clut-images">
                                <div class="clut-card">
                                    <h3>Sample #{{ forloop.counter }}</h3>
                                    <img width="240" src="{{ clut.sample.url }}"
                                        alt="Picture of Sample #{{ forloop.counter }}">
                                </div>

                                <div class="clut-card">
                                    <h3>Identity #{{ forloop.counter }}</h3>
                                    <img width="240" src="{{ clut.identity.url }}"
                                        alt="Picture of Identity #{{ forloop.counter }}">
                                </div>
                            </div>

                            <h3>Info: {{ clut.filename }}</h3>
                            <h3>Date: {{ clut.created_at }}</h3>

                            <form action="{% url 'delete_clut' key clut.pk %}" method="POST" style="display:inline;"
                                onsubmit="return confirm('Are you sure you want to delete this clut?');">
                                <button class="btn btn-warning" type="button" onclick="location.href='{{ clut.clut.url }}'" download>
                                    Download HaldCLUT
                                </button>
                                <button class="btn btn-warning" type="button" onclick="location.href='{{ clut.sample.url }}'" download>
                                    Download Sample
                                </button>
                                <button class="btn btn-warning" type="button" onclick="location.href='{{ clut.identity.url }}'" download>
                                    Download Identity
                                </button>

                                {% csrf_token %}
                                <button type="submit" class="btn-delete-clut btn btn-danger">Delete CLUT</button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <p>No CLUTs found.<br>Please upload a CLUT to begin</p>
    {% endif %}

    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        Contributor Instructions: Creating a HaldCLUT from Film
    </button>

    <div class="collapse" id="collapseExample">
        To generate an accurate HaldCLUT file, our software needs to compare two photos of the exact same scene: the
        target picture (the look you want to clone) and a neutral reference picture (the baseline).
        If you want to capture the look of a specific film stock to contribute to our project, please follow these
        guidelines:
        <br><br>
        * 📸 Use RAW Mode: If you are using a digital camera or smartphone for the reference photo, RAW mode is
        highly preferred. This prevents the camera's internal software from adding forced contrast or color shifts.
        <br>
        * 📊 Use a Color Chart (Highly Recommended): For the absolute best results, include a printed or physical
        color chart (like an X-Rite/Calibrite passport) in the center of both frames.
        <br>
        * 🔒 Lock Your Settings: Turn off Auto White Balance (AWB) and Auto Exposure on your digital camera or
        phone. Keep the settings fixed so they match the natural lighting of the film shot.
        <br>
        * 🧍 Keep it Static: Avoid moving subjects (like traffic or swaying trees) and shoot from the exact same
        angle. The two images must align as perfectly as possible.
        <br>
        Thank you! Your submissions directly help us provide more accurate, high-quality HaldCLUTs to creators
        around the world.
    </div>

    <form action="" method="post" class="row g-3 pb-4" enctype="multipart/form-data">
        {% csrf_token %}
        <br>
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>

    <footer>
        <a href="/about">🎞️ Help Us Grow: Contribute Your Own Film Styles</a>
        <a href="/donate">💸 Help Me Grow: Donate</a>
        <a href="https://github.com/juliannowak/Django-Film-Filters">⌨️ Check Out The Project On GitHub</a>
    </footer>
</div>
{% endblock %}