<!--context: id, images, form-->
<head>
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Django Film Filters{% endblock %}</title>
  
  <!-- SASS stylesheets go here in the head -->
  {% load static %}
  {% load sass_tags %}

  <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% sass_src 'main.scss' %}" rel="stylesheet" type="text/css" />

</head>
<body>
  {{ switches|json_script:"my-switches" }}
  <h1>Your Image Dashboard/Gallery</h1><br>
  {% if id %}
    <p>Your ID: {{id}}</p>
    <p>Keep this ID (or your link) if you want to find your images online again.</p>
  {% endif %}

  {% if context %}
    <ul>
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Show Images
      </button>
      
      <div class="collapse" id="collapseExample">
        <p>Click or tap the images to sewitch between filtered and non-filtered</p>
        {% for image, filtered, switch in context %}
          {% if switch %}
            <li>
              <h4>Image #{{forloop.counter}} (filtered): {{ image.name }}</h4><br>
              <img onclick="switchFilter('{{forloop.counter0}}', '{{switches}}')" width=480 src="{{ image.filtered.url }}" alt="{{ image.name }}">
            </li>
          {% else %}
            <li>
              <h4>Image #{{forloop.counter}} (unfiltered): {{ image.name }}</h4><br>
              <img onclick="switchFilter('{{forloop.counter0}}', '{{switches}}')" width=480 src="{{ image.image.url }}" alt="{{ image.name }}">
            </li>
          {% endif %}
        {% endfor %}
      </div>
    </ul>
  {% else %}
    <p>No images found.<br>Please upload an image to begin</p>
  {% endif %}

  <h1>Upload Form</h1>
  <form action="" method="post" class="row g-3 pb-4" enctype="multipart/form-data">
  {% csrf_token %}
  <br>
  <table>
      {{ form.as_table }}
  </table>
  <input type="submit" value="Submit">

  <script src="{% static 'main.js' %}"></script>
</body>
